body {
    font-family: Arial;
    background: #f2f2f2;
    margin: 0;
}

.container {
    width: 85%;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);    
}

h1 {
    text-align: center;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to right, #2e7d32, #388e3c);
    color: #edffef;
    border-bottom: 2px solid #c8e6c9;
    font-size: 28px;
    font-weight: bold;
}

.subtitle {
    color: #2e7d32;
}

.card {
    background:#fafafa;
    padding: 20px;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #e0e0e0;  
}

h2 {
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 8px;
    margin-bottom: 15px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 15px;
}

.search-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr auto auto;
    gap: 10px;
    align-items: center;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    height: 42px;
    padding: 0 15px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background: orange;
}

.delete-btn {
    background: red;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #2e7d32;
    color: white;
}

.summary-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 15px;
}

.summary-box {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

.summary-box h3 {
    margin: 0;
    font-size: 28px;
}

.summary-box p {
    margin: 5px 0 0;
}

.total {
    background: #e8f5e9;
    color: #2e7d32;
}

.active {
    background: #e8f5e9;
    color: #2e7d32;
}

.inactive {
    background: #fdecea;
    color: #c62828;
}

.maintenance {
    background: #fff8e1;
    color: #ef6c00;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.modal-content button {
    margin: 10px;
}

#deleteAlertBox {
    color: rgb(51, 213, 11);
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 15px;
    text-align: center;
}

#alertBox {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.reset-btn {
    min-width: 90px;
}

#submitBtn {
    background: #138c19;
    padding: 12px 50px;
    font-size: 16px;
}

#submitBtn:hover {
    background: #138c19;
}